parameters:
    ignoreErrors:
        - message: '#^Call to function method_exists\(\) with ''Symfony\\\\Component\\\\Dotenv\\\\Dotenv'' and ''bootEnv'' will always evaluate to true\.$#'
          identifier: function.alreadyNarrowedType
          count: 1
          path: tests/bootstrap.php
        # https://github.com/phpstan/phpstan-doctrine/issues/610
        - message: "#^Property App\\\\Entity\\\\.*\\:\\:\\$id \\(int\\|null\\) is never assigned int so it can be removed from the property type\\.$#"
